[submodule "bls-signatures"]
	path = bls-signatures
	url = https://github.com/Chia-Network/bls-signatures.git
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "chiapos"]
	path = chiapos
	url = https://github.com/Chia-Network/chiapos.git
[submodule "uint256_t"]
	path = uint256_t
	url = https://github.com/calccrypto/uint256_t.git
[submodule "libbech32"]
	path = libbech32
	url = https://github.com/dcdpr/libbech32.git
[submodule "vnx-addons"]
	path = vnx-addons
	url = https://github.com/madMAx43v3r/vnx-addons.git
[submodule "basic-opencl"]
	path = basic-opencl
	url = https://github.com/automyinc/basic-opencl.git
[submodule "vnx-base"]
	path = vnx-base
	url = https://github.com/madMAx43v3r/vnx-base.git
[submodule "vnx-rocksdb"]
	path = vnx-rocksdb
	url = https://github.com/madMAx43v3r/vnx-rocksdb.git
