# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.bak
CMakeUserPresets.json

/build
/.settings
/.project
/.cproject
/.pydevproject
/config/local
/PASSWD
/NETWORK
/DB_VERSION
/testnet*
/mainnet*
/tmp
/coverage.info
/.idea
/_deps
/*.dat
/*.deb
/config/default/build.json
/test/vm/AFL/outputs/*
/docs/dist
/docs/.astro
/docs/node_modules
