Package: mmx-node
Section: base
Priority: optional
Depends: curl, screen, zenity, libminiupnpc17, libjemalloc2, libzstd1, zlib1g, ocl-icd-libopencl1, libgomp1, qtwebengine5-dev
Maintainer: Max Wittal <max.wittal@mwittal.de>
Description: MMX Node
Homepage: https://mmx.network
