---
import NavBar from '../components/Navbar.astro';
import LinkCard from "../components/LinkCard.astro";
import BottomWaves from "../components/BottomWaves.astro";

import { CardGrid } from "@astrojs/starlight/components";
import '../styles/style.css';
---

<title>MMX Documentation</title>
<BottomWaves />
<NavBar></NavBar>
<div class="main">
    <div class="top-spacer"></div>
    <div class="hero">
        <h1>MMX Documentation</h1>
    <div class="cardgrid"><CardGrid>
        <LinkCard title="Guides" icon="pencil" url="guides/getting-started/">
            <p class="desc">Follow guides for using MMX</p>
        </LinkCard>
        <LinkCard title="Frequently Asked Questions" icon="information" url="faq/mmx-blockchain/">
            <p class="desc">Read the FAQ</p>
        </LinkCard>
        <LinkCard title="Software Reference" icon="laptop" url="software/cli-commands/">
            <p class="desc">Reference for using MMX Software</p>
        </LinkCard>
        <LinkCard title="Technical Reference" icon="open-book" url="reference/blockchain/">
            <p class="desc">Learn more about the MMX Blockchain key concepts</p>
        </LinkCard>
    </CardGrid>
    </div>
    </div>
    <div class="bottom-spacer"></div>
    
</div>

<style>
    body {
        margin: 0;
        background-color: var(--sl-color-black);
        font-family: var(--__sl-font);
    }
    .main {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .hero h1 {
        margin: 0;
        color: white;
        text-align: center;
    }
    .top-spacer {
        min-height: 5rem;
        height: 15%;
    }
    .bottom-spacer {
        height: 40%;
    }
    .cardgrid {
        padding: 5% 20%;
    }
    p {
        color: var(--sl-color-accent-high);
        text-decoration: none;
        margin: 0;
    }
    @media (max-height: 650px) {
        .hero h1 {
            font-size: 1.5rem;
        }
        .desc {
            display: none;
        }
        .cardgrid {
            padding-top: 1%;
        }
    }
    @media (max-width: 800px) and (max-height: 850px) {
        .hero h1 {
            font-size: 1.5rem;
        }
        .desc {
            display: none;
        }
        .cardgrid {
            padding-top: 1%;
        }
    }
</style>