<div class="waves">
<div class="custom-shape-divider-bottom-1738101632">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <!-- <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path> -->
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill" opacity="0.25"></path>
    </svg>
</div>
<div class="bg">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path class="shape-fill" fill-opacity="1" d="M0,96L21.8,101.3C43.6,107,87,117,131,106.7C174.5,96,218,64,262,85.3C305.5,107,349,181,393,192C436.4,203,480,149,524,133.3C567.3,117,611,139,655,149.3C698.2,160,742,160,785,170.7C829.1,181,873,203,916,208C960,213,1004,203,1047,213.3C1090.9,224,1135,256,1178,240C1221.8,224,1265,160,1309,122.7C1352.7,85,1396,75,1418,69.3L1440,64L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path></svg>
</div>
</div>

<style>
    .bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }
    .custom-shape-divider-bottom-1738101632 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    .custom-shape-divider-bottom-1738101632 svg {
        position: relative;
        display: block;
        width: calc(191% + 1.3px);
        height: 400px;
        transform: rotateY(180deg);
    }
    .shape-fill {
        fill: var(--mmx-color-purple);
    }
    
</style>