---
import { Icon } from '@astrojs/starlight/components';
---
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<div class="navbar">
    <div class="navbar-container">
        <a class="navbar-item" href="/">
            <img src="/images/mmx_rect.png" alt="MMX logo" class="logo" />
        </a>
        <div class="navbar-text">Documentation</div>
        <div class="navbar-spacer"></div>
        <div class="navbar-end">
            <a class="navbar-item" href="https://mmx.network/"><Icon name="star" class="icon" size="1.33em"></Icon></a>
            <a class="navbar-item" href="https://discord.gg/BswFhNkMzY"><Icon name="discord" class="icon" size="1.33em"></Icon></a>
            <a class="navbar-item" href="https://github.com/madMAx43v3r/mmx-node"><Icon name="github" class="icon" size="1.33em"></Icon></a>
            <a class="navbar-item" href="https://x.com/MMX_Network_"><Icon name="x.com" class="icon" size="1.33em"></Icon></a>
            </div>
    </div> 
</div>

<style>
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 4rem;
	background-color: var(--sl-color-gray-6);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }
    .logo {
        height: 100%;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 2rem;
    }

    .navbar-item {
        color: var(--sl-color-white);
        text-decoration: none;
        margin-left: 1rem;
        font-size: 1.2rem;
        height: 100%;
    }

    .navbar-text {
        color: var(--sl-color-white);
        text-decoration: none;
        margin-left: 1rem;
        font-size: 1.75rem;
        height: 100%;
        line-height: 4rem;
        font-weight: 600;
    }

    .navbar-end {
        display: flex;
        align-items: center;
    }

    .navbar-item:hover {
	color: var(--sl-color-accent-high);
    }

    .navbar-spacer {
        flex-grow: 1;
    }

    @media (max-width: 75em) {
        .navbar {
            height: 5rem;
        }

        .navbar-container {
            flex-wrap: nowrap;
            flex-basis: 0;
            flex-shrink: 2;
        }

        .navbar-item {
            padding: 0 0.5rem;
            font-size: 1.5rem;
        }

        .navbar-text {
            padding: 0 0.25rem;
	    line-height: 5rem;
            font-size: 2.18rem;
        }
    }
</style>