:root {
	--sl-color-white: hsl(0, 0%, 100%);
	--sl-color-gray-1: hsl(232, 0%, 94%);
	--sl-color-gray-2: hsl(232, 0%, 77%);
	--sl-color-gray-3: hsl(232, 0%, 56%);
	--sl-color-gray-4: hsl(232, 0%, 36%);
	--sl-color-gray-5: hsl(232, 0%, 23%);
	--sl-color-gray-6: hsl(232, 0%, 16%);
	--sl-color-black: hsl(232, 0%, 7%);

	--sl-nav-pad-y: 0rem;

	.site-title { color: var(--sl-color-white); }

	span.icon-link::before {
		content: '#';
		font-size: 0.8em;
		margin-left: 10px;
		text-decoration: none;
		display: inline-block;
	}
}

:root[data-theme='light'] {
	--sl-color-white: hsl(232, 0%, 5%);
	--sl-color-gray-1: hsl(232, 0%, 13%);
	--sl-color-gray-2: hsl(232, 0%, 20%);
	--sl-color-gray-3: hsl(232, 0%, 33%);
	--sl-color-gray-4: hsl(232, 0%, 53%);
	--sl-color-gray-5: hsl(232, 0%, 75%);
	--sl-color-gray-6: hsl(232, 0%, 93%);
	--sl-color-gray-7: hsl(232, 0%, 96%);
	--sl-color-black: hsl(0, 0%, 100%);
}

:root[data-has-sidebar][data-has-toc] {
	.sl-container:has(footer) { max-width: none; }
	.right-sidebar-container { width: var(--sl-sidebar-width); }

	@media (min-width: 50rem) {
		.header { grid-template-columns: minmax(calc(var(--sl-sidebar-width) - var(--sl-nav-pad-x)),auto) 1fr auto; }
	}

	@media (min-width: 72rem) {
		.main-pane { width: calc(100% - var(--sl-sidebar-width));
		.sl-container:has(h1#_top) { margin-inline: 0 auto; }
	}
}
