<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MMX - Explorer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	body {
		margin: 20px;
	}
	a.title {
		font-size: 120%;
		word-wrap: break-word;
	}
	span.url {
		color: rgb(0,100,0);
		word-wrap: break-word;
	}
	span.right {
		float: right
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	a.bare {
		text-decoration: none;
	}
	th.data, td.data {
		padding-left: 5px;
		padding-right: 5px;
	}
	table.data, th.data, td.data {
		border: 1px solid gray;
	}
</style>
</head>
<body>

<a href="/recent">Recent Blocks</a>

<p>
<form method="GET" action="/address">
<label for="value">Address: </label><input type="text" size="60" id="value" name="addr">
<input type="submit" value="Submit">
</form>
</p>
<p>
<form method="GET" action="/transaction">
<label for="value">Transaction: </label><input type="text" size="60" id="value" name="id">
<input type="submit" value="Submit">
</form>
</p>
<p>
<form method="GET" action="/block">
<label for="value">Block Hash: </label><input type="text" size="60" id="value" name="hash">
<input type="submit" value="Submit">
</form>
</p>
<p>
<form method="GET" action="/block">
<label for="value">Block Height: </label><input type="text" id="value" name="height">
<input type="submit" value="Submit">
</form>
</p>

<hr>

<%- include(body) %>

</body>
</html>
